<div>
    <h2>realTimeProducts</h2>
     <hr>
    
    <div>
        <ul id="mostrarProductos">

        </ul>
    </div>
   
</div>

<script src="socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>